
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/settings.json

build/*
include/*
.vscode/*
/cmake-build-debug/
/.vscode/
/.idea/
/cmake-build-debug-coverage/
/cmake-build-debug/
SFML/*